<div class="ui grid container">
    <div class="sixteen wide column">
        <div class="ui segment form">
            <div class="header">
                Palindrome checking app 
            </div>  
            <div class="content">
                <div class="ui action input">
                    <input (keyup.enter)="check_palindrome(text)" id="input_text" type="text" placeholder="Type your word here..." [(ngModel)]="text">
                    <button id="check_btn" class="ui primary button" (click)="check_palindrome(text)">
                        Check
                    </button>
                </div>
                <div id="ok_list" class="ui list">
                    <div class="item ok_word" *ngFor="let item of ok_list">
                        <i class="checkmark icon"></i>
                        <div class="content item_ok">
                            {{item}}
                        </div>
                    </div>
                </div>
                <div id="fail_list" class="ui list">
                    <div class="item fail_word" *ngFor="let item of fail_list">
                        <i class="remove icon"></i>
                        <div class="content item_fail">
                            {{item}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

